{{ if not .Site.IsServer }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158600592-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());
  gtag('config', 'UA-158600592-1', { 'anonymize_ip': true });
  gtag('config', 'UA-158600592-1');

  Array.from(document.querySelectorAll('.subscribe a')).forEach((el)=>{
    const section = document.querySelector('meta[property="og:section"]').getAttribute('content');
    const url = document.querySelector('meta[property="og:url"]').getAttribute('content');

    el.addEventListener('onclick', ()=> {
      gtag('event', 'subscribe', {
        method: "Feed",
        content_type: section,
        content_id: url 
      });
    });
  });

  Array.from(document.querySelectorAll('.stack > a')).forEach((el)=>{
    const provider = (new URL(el.getAttribute('href'))).hostname;
    const section = document.querySelector('meta[property="og:section"]').getAttribute('content');
    const url = document.querySelector('meta[property="og:url"]').getAttribute('content');

    el.addEventListener('onclick', ()=> {
      gtag('event', 'share', {
        method: provider,
        content_type: section,
        content_id: url 
      });
    });
  });

  Array.from(document.querySelectorAll('.share > a')).forEach((el)=>{
    const provider = (new URL(el.getAttribute('href'))).hostname;
    const section = document.querySelector('meta[property="og:section"]').getAttribute('content');
    const url = document.querySelector('meta[property="og:url"]').getAttribute('content');

    el.addEventListener('onclick', ()=> {
      gtag('event', 'share', {
        method: provider,
        content_type: section,
        content_id: url 
      });
    });
  });
</script>
{{ end }}
