{{ $data := index . 0 }}
{{ $global := index . 1 }}
{{ $section := index . 2 }}

<article class="content__entry content__entry--{{ $section }}">
  <h1><a href="{{ $data.url }}">{{ $data.title }}</a></h1>
  <aside>
    <p class="content__entry--datetime">
    投稿: <time datetime="{{ dateFormat "2006-01-02" $data.date_published }}"><a href="{{ absURL "/archives/" }}{{ dateFormat "#/2006/01/" $data.date }}">{{ dateFormat "2006年1月2日" $data.date_published }}</a></time>
    更新: <time datetime="{{ dateFormat "2006-01-02" $data.date_modified }}">{{ dateFormat "2006年1月2日" $data.date_modified }}</time>
  </p>

  {{ if $global.Page.IsPage }}
  {{ with (sub (now).Unix (time $data.date_modified).Unix) }}
    {{ if gt . (mul 86400 180) }}
    <p class="content__entry--warnings">
      この記事は最後に更新されてから 半年以上は更新されていません。
    </p>
    {{ end }}
  {{ end }}
  {{ end }}
  </aside>

{{ if (default false $global.Page.Params.ads) }}
  <aside class="ads">
		<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-format="fluid"
				 data-ad-layout-key="-gx-1+1w-2n-18"
				 data-ad-client="ca-pub-1273544194033160"
				 data-ad-slot="7658425566"></ins>
		<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
  </aside>
{{ end }}

  <section class="p-content">
    {{ $data.content_html | safeHTML }}
  </section>

{{ if (default false $global.Page.Params.ads) }}
  <aside class="ads">
		<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-format="fluid"
				 data-ad-layout-key="-gx-1+1w-2n-18"
				 data-ad-client="ca-pub-1273544194033160"
				 data-ad-slot="5004342069"></ins>
		<script>
				 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
  </aside>
{{ end }}

  {{ if $global.Page.IsPage }}
    {{ partial "components/comment.html.html" $data }}
  {{ end }}
</article>

