{{ $section := (partial "data/section.html.html" . | unmarshal ).section }}
{{ $data := partial "data/meta.html.html" . | unmarshal }}

<header class="content__header content__header--{{ $section }} u-container--relative">
  <a href="{{ absURL "/nyarla/" }}" class="header__avatar c-rounded__hexicon">
    <img src="{{ absURL "/assets/avatar.svg" }}"
         alt="avatar icon of nyarla" height="48" width="48">
  </a>

  <h1 class="header__title">
    <a href="{{ absURL "/" }}" class="c-link--no-decoration">カラクリスタ</a>
    {{ if and (ne $section "home") (ne $section "tags") }}
    <span>・</span>
    {{ if ne $section "notfound" }}
    <a href="{{ absURL (printf "/%s/" $section) }}" class="c-link--no-decoration">
      {{ $data.name }}
    </a>
    {{ else }}
    <strong>
      {{ $data.name }}
    </strong>
    {{ end }}
    {{ end }}
  </h1>

  <p class="header__description">{{ $data.description_html | safeHTML }}</p>
  <p class="header__message">{{ $data.message | safeHTML }}</p>

  <nav class="header__sections u-container--absolute">
    {{ range $s := slice "home" "posts" "echos" "notes" "search" "archives" }}
      {{ $link := "/" }}
      {{ if ne $s "home" }}
        {{ $link = printf "/%s/" $s }}
      {{ end }}

      {{ $current := eq $s $section }}

      <a href="{{ absURL $link }}" class="{{ if $current }}current{{ end }} c-link--no-decoration">{{ (index $.Site.Params.text $s).label }}</a>
    {{ end }}
  </nav>

  <nav class="header__about u-container--absolute">
    <a href="{{ absURL "/nyarla/" }}">私について</a>
    <a href="{{ absURL "/policies/"}}">運営ポリシー</a>
    <a href="{{ absURL "/licenses/" }}">ライセンス</a>
  </nav>
</header>
