@import "../../foundation/color";
@import "../utility/decoration";

@mixin c-rounded__dot {
  @include u-decoration__container;

  width: 0;
  height: 0;

  border: 3px solid;
  border-radius: 3px;
}

@mixin c-rounded__ring {
  @include u-decoration__container;
  content: "";
  width: 3px;
  height: 3px;
  border: 3px solid;
  border-radius: 9px;
}

.c-rounded__hexicon {
  display: inline-block;
  position: relative;

  height: calc(var(--Object-Hexicon-Size) + 4px);
  width: calc(var(--Object-Hexicon-Size) + 4px);

  &::before,
  &::after,
  & > * {
    display: block;
    position: absolute;
    top: 0.5em;
    left: 0;
    bottom: 0.5em;
    right: 0;

    height: calc(var(--Object-Hexicon-Size) - (var(--Object-Hexicon-Size) / 3));
    width: calc(var(--Object-Hexicon-Size) - (var(--Object-Hexicon-Size) / 3));
    padding: 0 0.5em;

    border-width: 1px 3px;
    border-style: solid;
    border-radius: 100%;
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    transform: rotateZ(60deg);
  }

  &::after {
    transform: rotateZ(-60deg);
  }

  &::after {
    border-color: transparent $color-green-bright transparent
      $color-magenta-bright;
  }
  &::before {
    border-color: transparent $color-blue-bright transparent
      $color-yellow-bright;
  }
  & > * {
    border-color: transparent $color-cyan-bright transparent $color-red-bright;
  }
}
