{{ $pager := .Paginate .Pages.ByDate.Reverse }}

{{ range $page := $pager.Pages }}
{{ $data := partial "data/content.html.html" $page | unmarshal }}
<section class="content__entry content__entry--{{ $page.Section }} u-clearfix">
  <a href="{{ $data.url }}"><h1>{{ $data.title }}</h1></a>
  <a href="{{ absURL "/archives/" }}{{ dateFormat "#/2006/01/02/" $data.date }}"><time>{{ dateFormat "2006年1月2日" $data.date }}</time></a>
  <section class="p-content u-clearfix">
    {{ $data.content_html | safeHTML }}
  </section>
</section>
{{ end }}

<nav class="navigation--paginate u-clearfix">
  <p>
    {{ if $pager.HasPrev }}
    <a href="{{ absURL $pager.Prev.URL }}" class="navigation__prev">前へ</a>
    {{ end }}
    {{ if $pager.HasNext }}
    <a href="{{ absURL $pager.Next.URL }}" class="navigation__next">次へ</a>
    {{ end }}
  </p>
</nav>
