{{ if .Page.IsPage }}
  {{ $data := partial "data/content.html.html" . | unmarshal }}
  {{ $section := (partial "data/section.html.html" . | unmarshal).section }}

  {{ partial "components/entry.html.html" (slice $data ($) $section) }}
  {{ partial "components/subscribe.html.html" . }}
  {{ partial "components/author.html.html" . }}

  <nav class="navigation--paginate u-clearfix">
    <p>
      {{ with .NextInSection }}
      <a href="{{ .Permalink }}" class="navigation__prev">前の記事</a>
      {{ end }}

      {{ with .PrevInSection }}
      <a href="{{ .Permalink }}" class="navigation__next">次の記事</a>
      {{ end }}
    </p>
  </nav>
{{ else }}
  {{ $pager := .Paginate .Pages.ByDate.Reverse }}
  {{ range $page := $pager.Pages }}
    {{ $data := partial "data/content.html.html" $page | unmarshal }}
    {{ $section := (partial "data/section.html.html" $page | unmarshal).section }}
    {{ partial "components/entry.html.html" (slice $data ($) $section) }}
  {{ end }}
  <nav class="global__navigation--paginate">
    <p>
      {{ if $pager.HasPrev }}
      <a href="{{ absURL $pager.Prev.URL }}" class="navigation__prev">前へ</a>
      {{ end }}
      {{ if $pager.HasNext }}
      <a href="{{ absURL $pager.Next.URL }}" class="navigation__next">次へ</a>
      {{ end }}
    </p>
  </nav>
{{ end }}
