{{ if .Page.IsPage }}
  {{ $data := partial "data/content.html.html" . | unmarshal }}
  <article class="content__entry content__entry--{{ .Section }} u-clearfix">
    <a href="{{ $data.url }}"><h1>{{ $data.title }}</h1></a>
    <section class="p-content p-content--home">
      {{ $data.content_html | safeHTML }}
    </section>
  </article>
  {{ partial "components/author.html.html" . }}
{{ else }}
  {{ range $page := first 15 (where .Site.RegularPages.ByDate.Reverse ".Params.type" "!=" "pages") }}
    {{ $data := partial "data/content.html.html" $page | unmarshal }}
    {{ $section := (partial "data/section.html.html" $page | unmarshal).section }}

    {{ partial "components/summary.html.html" (slice $data $.Site $section) }}
  {{ end }}
  <nav class="global__navigation--archives">
    <p><a href="{{ absURL "/archives/" }}">過去ログをもっと見る</a></p>
  </nav>
{{ end }}
