{{ range $page := .Pages.ByDate.Reverse }}
{{ $data := partial "data/content.html.html" $page | unmarshal }}
<section class="content__summary content__summary--entries u-clearfix">
 <a href="{{ $data.url }}">
    <h1>{{ $data.title }}</h1>
    <p>{{ (partial "data/summary.html.html" ($data.content_html | safeHTML | plainify) | unmarshal).summary }}</p>
  </a>
  <a href="{{ absURL "/archives/" }}{{ dateFormat "#/2006/01/02/" $data.date }}"><time>{{ dateFormat "2006年1月2日" $data.date }}</time></a>
</section>
{{ end }}

