{{ if .Page.IsPage }}
  {{ $data := partial "data/content.html.html" . | unmarshal }}
  <article class="content__entry content__entry--{{ .Section }} u-clearfix">
    <a href="{{ $data.url }}"><h1>{{ $data.title }}</h1></a>
    <a href="{{ absURL "/archives/" }}{{ dateFormat "#/2006/01/" $data.date }}"><time>{{ dateFormat "2006年1月2日" $data.date }}</time></a>
    <nav>
    {{ partial "components/stack.html.html" . }}
    {{ partial "components/adsense.html.html" . }}
    </nav>
    <section class="p-content">
      {{ $data.content_html | safeHTML }}
    </section>
    {{ partial "components/share.html.html" . }}
    {{ partial "components/comment.html.html" . }}
  </article>

  {{ partial "components/adsense.html.html" . }}
  {{ partial "components/subscribe.html.html" . }}
  {{ partial "components/author.html.html" . }}
{{ else }}
{{ range $page := .Pages.ByDate.Reverse }}
{{ $data := partial "data/content.html.html" $page | unmarshal }}
<section class="content__summary content__summary--entries u-clearfix">
 <a href="{{ $data.url }}">
    <h1>{{ $data.title }}</h1>
    <p>{{ (partial "data/summary.html.html" ($data.content_html | safeHTML | plainify) | unmarshal).summary }}</p>
  </a>
  <a href="{{ absURL "/archives/" }}{{ dateFormat "#/2006/01/" $data.date }}"><time>{{ dateFormat "2006年1月2日" $data.date }}</time></a>
</section>
{{ end }}
{{ end }}
