{{ if .Page.IsPage }}
  {{ $data := partial "data/content.html.html" . | unmarshal }}
  {{ $section := (partial "data/section.html.html" . | unmarshal).section }}
  {{ partial "components/entry.html.html" (slice $data . $section) }}
  {{ partial "components/subscribe.html.html" . }}
  {{ partial "components/author.html.html" . }}
{{ else }}
  {{ range $page := sort .Pages ".Lastmod" "desc" }}
    {{ $data := partial "data/content.html.html" $page | unmarshal }}
    {{ $section := (partial "data/section.html.html" $page | unmarshal).section }}

    {{ partial "components/summary.html.html" (slice $data ($) $section) }}
  {{ end }}
{{ end }}
