.content__header {
  & > .header__avatar,
  & > .header__title {
    display: inline-block;
    line-height: 3em;
  }

  & > .header__avatar {
    --Object-Hexicon-Size: 3em;
  }

  & > .header__title {
    margin: 0;
    font-size: 1em;
    vertical-align: top;

    & > * {
      display: inline-block;

      font-size: 1.5em;
      font-family: serif;

      letter-spacing: -0.1727em;

      transform: scaleY(1.5);

      color: $color-gray-darkest;
    }
  }

  & > .header__sections,
  & > .header__about {
    & > a {
      &:link,
      &:visited {
        color: $color-gray-base;
      }

      &:hover,
      &:active {
        color: $color-gray-darkest;
      }
    }
  }

  & > .header__sections {
    top: -0.25em;
    right: 0;

    vertical-align: bottom;

    & > a {
      @include u-container--relative;
      display: inline-block;
      font-size: 1.5em;

      line-height: 2.25em;

      margin-left: 0.25em;

      &.current,
      &:hover,
      &:active {
        text-decoration: none;

        &::after {
          @include c-rounded__dot;
          right: 50%;
          bottom: -0.125em;
          margin-right: -3px;
        }
      }

      &.current::after {
        color: $color-lime-dark;
      }
      &:hover::after,
      &:active::after {
        color: $color-sky-bright;
      }
    }
  }

  & > .header__about {
    top: 4.125em;
    right: 0;
    & > a {
      margin-left: 0.5em;
    }
  }

  & > .header__description {
    margin-top: 4em;
  }

  & > .header__description,
  & > .header__message {
    text-align: right;
    font-size: 0.8em;
    margin-right: -0.9em;
  }
}
