body {
  width: 64.8em;
  margin: 6em auto 0 auto;
}

.global__header {
  position: relative;

  & > .header__avatar,
  & > .header__title {
    display: inline-block;
    line-height: 3em;
  }

  & > .header__avatar {
    --Object-Hexicon-Size: 3em;
  }

  & > .header__title {
    margin: 0;
    font-size: 1em;
    vertical-align: top;
    & > * {
      display: inline-block;
      font-size: 1.5em;
      transform: scaleY(1.5);
      font-family: serif;
      letter-spacing: -0.1727em;
      text-decoration: none;
      color: $color-gray-darkest;
    }

    & > a:hover,
    & > a:active {
      text-decoration: underline;
    }
  }

  & > .header__sections,
  & > .header__about {
    & > a {
      &:link,
      &:visited {
        color: $color-gray-base;
      }
      &:hover,
      &:active {
        color: $color-gray-darkest;
      }
    }
  }

  & > .header__sections {
    position: absolute;
    top: -0.25em;
    right: 0;
    vertical-align: bottom;
    & > a {
      display: inline-block;
      font-size: 1.5em;
      line-height: 2.25em;
      margin-left: 0.25em;
      text-decoration: none;
      text-align: center;

      &.current::after,
      &:hover::after,
      &:active::after {
        display: block;
        content: "";
        height: 0px;
        width: 0px;
        margin: -0.125em auto 0 auto;
        border: 3px solid;
        border-radius: 3px;
      }

      &.current::after {
        border-color: $color-lime-dark;
      }

      &:hover::after,
      &:active::after {
        border-color: $color-sky-bright;
      }
    }
  }

  & > .header__about {
    position: absolute;
    top: 4.125em;
    right: 0;
    & > a {
      margin-left: 0.5em;
    }
  }

  & > .header__description {
    margin-top: 4em;
  }

  & > .header__description,
  & > .header__message {
    text-align: right;
    font-size: 0.8em;
    margin-right: -0.9em;
  }
}
