.content__subscribe > h1 > img {
  display: none;
}

.content__author {
  text-align: center;

  & > a {
    float: none;
    display: inline-block;
  }

  & > h1,
  & > section,
  & > nav {
    margin: 1em 0;
  }

  & > nav > a {
    display: block;
    width: 3em;
    margin: 1em auto;
  }
}
