{{ $data := unmarshal . }}

{{ $title := $data.title }}
{{ $summary := $data.description }}
{{ $link := urls.Parse $data.permalink }}

<a href="{{ $link.String }}" class="content__card--webcard">
  <figure>
    <figcaption>
      <h1>{{ $title }}</h1>
    </figcaption>

    <blockquote>
      {{ if (ge (strings.RuneCount $summary) 70) }}
        <p>{{ substr $summary 0 70 }}...<p>
      {{ else }}
        <p>{{ $summary }}</p>
      {{ end }}
    </blockquote>

    <nav>
      <p><cite>{{ replace $link.String $link.EscapedPath $link.Path }}</cite></p>
    </nav>
  </figure>
</a>
