<!doctype html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    {{ partial "components/meta.html.html" . }}
  </head>
  <body>
    {{ $section := (partial "data/section.html.html" . | unmarshal).section }}
    {{ partial "components/header.html.html" . }}

    <main class="global__content global__content--{{ $section }}">
      {{ if eq $section "home" }}
        {{ partial "pages/home.html.html" . }}
      {{ else if eq $section "tags" }}
        {{ partial "pages/tags.html.html" . }}
      {{ else if or (eq $section "posts") }}
        {{ partial "pages/posts.html.html" . }}
      {{ else if or (eq $section "echos") }}
        {{ partial "pages/echos.html.html" . }}
      {{ else if or (eq $section "notes") }}
        {{ partial "pages/notes.html.html" . }}
      {{ end }}
    </main>
  </body>
</html>
